*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
./graphql/js-resolvers

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
localstack_providers_override.tf