{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "type": "Query",
    "field": "hello",
    "arguments": $util.toJson($context.arguments),
    "identity": $util.toJson($context.identity),
    "source": $util.toJson($context.source),
    "request": $util.toJson($context.request),
    "prev": $util.toJson($context.prev)
  }
}